numpy
pandas
torch
scipy
scikit-learn
statsmodels
tqdm
openai
tiktoken
sentence-transformers
matplotlib
jupyter
h5py
accelerate
bitsandbytes
trl
flash-attn
vllm
networkx
skglm
transformers
peft
datasets
